<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
    integrity="sha512-2sDWqJOnl+uHt+31LVBLeRvMbQmnnnMIl1DdQ7Bhkp+X+lCfeQc9vNfzsWfV28IaLL3i9vXNFQe+zB+oTg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="search.css">
    <title>Search Bar</title>
</head>

<body>
    <div class="search" >
      <input type="text" placeholder='Search' id='searchInput' />
      <i class="fa fa-search"></i>
      <i class="fa fa-close"></i>
    </div>

    <script src="search.js"></script>
</body>
</html>